@model ContainerModel
@{
    ViewData["Title"] = "Mais Detalhes";
}

<div class="text-center">
    <h1>Mais Detalhes sobre o cliente</h1>
</div>
<form>
  <div class="form-group">
    <b>Nome do Cliente: </b>
    <label>@Model.nomeCliente</label>
  </div>
  <div class="form-group">
    <b>Numero do Container: </b>
    <label>@Model.numeroContainer</label>
  </div>
  <div class="form-group">
    <b>Tipo do Container: </b>
    <label>@Model.tipoContainer</label>
  </div>
  <div class="form-group">
    <b>Status do Container: </b>
    <label>@Model.statusContainer</label>
  </div>
  <div class="form-group">
    <b>Categoria do Container: </b>
    <label>@Model.categoriaContainer</label>
  </div>
  <a class="btn btn-secondary" asp-controller="Movimentacao" asp-action="index" role="button" >Voltar</a>
</form>